@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2B2E33;
  --secondary-color: #34373E;
  --third-color: #F05454;
  --text-color: #FFF;
}

body {
  color: #fff;
  background: #2B2E33;
}
